@import url(reset.css);

body{ 
  font-family: "Acme";
  min-height: 100vh;
  background-color: #3e6623;
   /* display: flex;
   flex-direction: column;
   align-items: center;
} */
}

.container {
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.header {
  margin-bottom: 20px;
  background-image: linear-gradient(#000, #3e6623);
  padding: 1rem 2rem;
  color: #b8860b;
  width: 100vw;
 
}

.header--left {
  margin-bottom: 1rem;
}

.header--left h1 {
  font-size: clamp(2rem, 5vw, 3.2rem);

}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; 
  max-width: 1800px;
  
}

.card{ 
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
  overflow: hidden;
  background-color: #8ab661;
  transition: transform 0.5s ease-in-out;
}

.card:hover { 
  transform: scale(1.10);
  box-shadow: 8px 8px 30px rgba(184, 134, 11, .7),
  -8px -8px 30px rgba(184, 134, 11, .7);
}
.card img {
  width: 300px;
  height: auto;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.card p{
  font-size: 1.6rem;
  margin: 0;
 padding: 10px;
 border-top: 1px solid #ddd;
}

@media (max-width: 600px) {
  .container {
    padding: 0.6rem;
  }

  .header p {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.8rem;
  }
  .card img {
    width: 250px;
  }
}